.table {
  width: 100%;
  margin-top: 73px;
  background-color: #0A1A22;
  position: relative;

  @media (max-width: 768px) {
    width: 837px;
    margin-top: 26px;
  }

  &Loader {
    position: absolute;
    width: 100%;
    font-size: 34px;
    line-height: 62px;
  }

  thead {
    color: #04D0D0;
    text-align: right;
  }

  tr {
    height: 62px;
  }

  td {
    padding: 0;
    margin: 0;
    text-align: right;
    border-bottom: 2px solid rgba(208, 217, 222, 0.1);
    background-color: #0A1A22;
  }

  th {
    background-color: #0A1A22;
  }

  th:nth-child(1), th:nth-child(2) {
    text-align: left;
  }

  td:nth-child(2) {
    text-align: left;
    @media (min-width: 768px) {
      width: 200px !important;
    }

    @media (max-width: 768px) {
      left: 72px !important;
      width: 150px !important;
    }
  }

  @media (max-width: 768px) {
    th:nth-child(1) {
      text-align:center;
    }

    td:nth-child(1) {
      width: 60px;
    }

    td:nth-child(3) {
      width: 95px;
    }

    td:nth-child(4) {
      width: 95px;
    }

    td:nth-child(5) {
      width: 95px;
    }
  }

  th:nth-child(2) {
    @media (max-width: 768px) {
      left: 72px !important;
    }
  }

  th:last-child {
    text-align: center;

    div {
      justify-content: center
    }
  }

  td:nth-child(1) {
    text-align: center;
    @media (max-width: 768px) {
      padding-left: 20px;
    }
  }

  td:last-child {
    p {
      margin: 0;
    }

    width: 300px !important;
    @media (max-width: 768px) {
      width: 200px !important;
    }
  }

  &Image {
    div {
      margin-right: 0px;
      position: relative;
      top: 3px;
      left: -26px;
      width: 20px;

      @media (max-width: 768px) {
        left: -20px;
        width: 16px;
      }
    }
  }
}

.textWrapper {
  margin-left: -18px;
}

.headerTip {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  p {
    margin: 0;
  }

  svg {
    margin-left: 6px;
  }
}

.link {
  text-decoration: underline;

  &:hover {
    color: #fff !important;
  }
}

.tableWrapper {
  @media (max-width: 768px) {
    overflow: scroll;
  }
}