.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0A1A22;
  z-index: 1000;
  padding: 90px 40px;

  &Back {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}